
.fotter{
    background-color:#3F413E;
    color: white;
}
.content{
   display: flex;
   

}
.section{
    margin-right: 10px;
}

.article{
    background: skyblue;
    
}
.aside{
    padding: 5px;
}
.sub-aside{
    
    background: orange;
    
}